* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
img{
    width: 45rem;
    max-width: 100%;
    display: block;
}
body{
    background-color: #696969;
    display: flex;
    justify-content: center;
}
.container{
    background-color: beige;
    display: grid;
    width: 83vw;
    grid-template-rows: 5rem 15fr 1fr;
}

.main{
    flex: 1;
    margin-left: 1rem;
}

.main > h2{
    display: flex;
    justify-content: center;
    margin-top: 0.3rem;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 1rem ;
}
.cards > div{
    max-width: 23rem;
    padding: 0.8rem;
}
.cards button{
    width: 5rem;
    background-color: #1d1e20;
    color: white;
    
}
.cards button:hover{
    width: 5.2rem;
    color: bisque;
    
}
.aside{

    margin-left: -1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    width: 2vw;

}

.footer{
    color: white;
    background-color: #1d1e20;
    grid-column: 1/4;
    max-height: 100%;

}

.footer span{
    display: flex;
    justify-content: end;
    margin: 0.5rem;
}